body {
    margin: 0; /* amncr */
    padding: 0;
  }
.logo {
    box-sizing: border-box;
    display: block;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: url('./images/logo/logo explorer.png') no-repeat center center;
    background-size: contain;
    background-color: black;
  }
